--
-- PostgreSQL database dump
--

\restrict d5xFQ8zpl48TFYEbaI8MMCgEb4OLaeI5UNmNEEW1nBZfRc9JG0aNY86BFgzeehT

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: installment_plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installment_plan (
    id bigint NOT NULL,
    total_installments integer NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    installment_value numeric(15,2) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.installment_plan OWNER TO postgres;

--
-- Name: TABLE installment_plan; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.installment_plan IS 'Tabela que armazena planos de parcelamento de despesas';


--
-- Name: COLUMN installment_plan.total_installments; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.installment_plan.total_installments IS 'Quantidade total de parcelas do plano';


--
-- Name: COLUMN installment_plan.total_amount; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.installment_plan.total_amount IS 'Valor total do plano de parcelamento';


--
-- Name: COLUMN installment_plan.installment_value; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.installment_plan.installment_value IS 'Valor de cada parcela';


--
-- Name: installment_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.installment_plan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.installment_plan_id_seq OWNER TO postgres;

--
-- Name: installment_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.installment_plan_id_seq OWNED BY public.installment_plan.id;


--
-- Name: recurring_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recurring_transactions (
    id bigint NOT NULL,
    active boolean NOT NULL,
    amount numeric(14,2) NOT NULL,
    category character varying(255) NOT NULL,
    day_of_month integer NOT NULL,
    description character varying(255) NOT NULL,
    end_date date,
    frequency character varying(255) NOT NULL,
    next_run_date date NOT NULL,
    start_date date NOT NULL,
    type character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT recurring_transactions_frequency_check CHECK (((frequency)::text = 'MONTHLY'::text)),
    CONSTRAINT recurring_transactions_type_check CHECK (((type)::text = ANY ((ARRAY['INCOME'::character varying, 'EXPENSE'::character varying])::text[])))
);


ALTER TABLE public.recurring_transactions OWNER TO postgres;

--
-- Name: recurring_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.recurring_transactions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.recurring_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id bigint NOT NULL,
    amount numeric(14,2),
    category character varying(255),
    description character varying(255),
    type character varying(255),
    user_id bigint NOT NULL,
    date_time timestamp without time zone,
    installment_plan_id bigint,
    installment_number integer,
    recurring_transaction_id bigint,
    CONSTRAINT transactions_type_check CHECK (((type)::text = ANY ((ARRAY['INCOME'::character varying, 'EXPENSE'::character varying])::text[])))
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: COLUMN transactions.installment_plan_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.transactions.installment_plan_id IS 'Refer├¬ncia ao plano de parcelamento (se aplic├ível)';


--
-- Name: COLUMN transactions.installment_number; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.transactions.installment_number IS 'N├║mero da parcela (1, 2, 3, ...)';


--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.transactions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: installment_plan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installment_plan ALTER COLUMN id SET DEFAULT nextval('public.installment_plan_id_seq'::regclass);


--
-- Data for Name: installment_plan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.installment_plan (id, total_installments, total_amount, installment_value, user_id) FROM stdin;
3	6	500.00	83.33	2
4	4	100.00	25.00	2
\.


--
-- Data for Name: recurring_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, created_at, email, name, password) FROM stdin;
1	2025-09-30 12:20:01.535394	felixxavier8788@gmail.com	Leandro Felix	$2a$10$uN0.NumJ/RVpPkPzvVwDquqD.dFJVioF8iH/NW/60mfUrmGUfRub6
2	2025-10-02 21:34:17.712709	test@test.com	test	$2a$10$Mz.UCRUIwEAVtASvjpoJR.eBifI66tYDJ6tZhkGO34p5nAD/W97n6
5	2026-05-04 00:21:32.753325	dbg@dbg.dbg	Dbg User	$2a$10$efH67L5Hsvch2G9smCQcS.adeBg0Zyou7UR0SldnqP6cjZlS4jDKy
\.


--
-- Name: installment_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.installment_plan_id_seq', 5, true);


--
-- Name: recurring_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recurring_transactions_id_seq', 15, true);


--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_id_seq', 96, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: installment_plan installment_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installment_plan
    ADD CONSTRAINT installment_plan_pkey PRIMARY KEY (id);


--
-- Name: recurring_transactions recurring_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recurring_transactions
    ADD CONSTRAINT recurring_transactions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_installment_plan_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_installment_plan_user_id ON public.installment_plan USING btree (user_id);


--
-- Name: idx_transactions_installment_plan_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_installment_plan_id ON public.transactions USING btree (installment_plan_id);


--
-- Name: transactions fk3lnwu993pw0edtly1w8hkhb78; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT fk3lnwu993pw0edtly1w8hkhb78 FOREIGN KEY (recurring_transaction_id) REFERENCES public.recurring_transactions(id);


--
-- Name: recurring_transactions fk59dmexrjod697u8j37s0nhyhd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recurring_transactions
    ADD CONSTRAINT fk59dmexrjod697u8j37s0nhyhd FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: installment_plan fk_installment_plan_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installment_plan
    ADD CONSTRAINT fk_installment_plan_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transactions fk_transaction_installment_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT fk_transaction_installment_plan FOREIGN KEY (installment_plan_id) REFERENCES public.installment_plan(id) ON DELETE CASCADE;


--
-- Name: transactions fkqwv7rmvc8va8rep7piikrojds; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT fkqwv7rmvc8va8rep7piikrojds FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict d5xFQ8zpl48TFYEbaI8MMCgEb4OLaeI5UNmNEEW1nBZfRc9JG0aNY86BFgzeehT

